@model List<SmartSpender.Models.Expense>

@{
    ViewData["Title"] = "Expense Overview";
}

<div class="container">
    <h1>Financial Overview</h1>
    <div class="list-group">
        @foreach (var expense in Model)
        {
            <a href="#" class="list-group-item list-group-item-action" data-item="@expense.Item">
                @expense.Category - @expense.Item: $@expense.Amount
                <button class="btn btn-danger btn-sm float-right delete-btn" onclick="deleteTransaction(this)">Delete</button>
            </a>
        }
    </div>
</div>
