@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container container-background-color">
    <h1>Welcome to Your Personal Expense Tracker</h1>
    <p>Manage your expenses and keep track of your budgets easily.</p>
    <img src="~/images/Appsforfinancemanagement.png" alt="Expense Tracking Illustration" class="img-fluid">
</div>
